@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

/** {*/
/*    outline: solid 1px red;*/
/*}*/

body {
    font-family: 'Montserrat', sans-serif !important;
}

.card-custom {
    padding: 0.6vw;
}

.card {
    float: right;
    right: 10vw;
    top: 10vw;
}

.btn-login-custom {
    background-color: #004d00 !important;
    width: 100%;
}

.btn-custom {
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.bi-people {
    padding-right: 12px;
}

.bi-person {
    padding-right: 12px;
}

.page {
    display: flex;
    flex-direction: row;
}

.content-grid {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    width: 100%;
}

@media (min-width: 1200px) {
    .content-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.content-element {
    width: 100%;
    margin: 0 auto;
}

#wrapper {
    width: 100%;
}

.wave-container {
    background: #ffffff;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.wave-container > svg {
    display: block;
}

@keyframes animateWave {
    0% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

.wave-container > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.download {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #004d00;
    color: white;
}

.for-export {
    display: inline-block;
    padding-right: 15px;
}

.icon-custom {
    padding-right: 15px;
}

.type-choose {
    display: inline-block;
    padding-right: 30px;
}

.type-controls{
    padding-bottom: 15px;
}

.navbar-button {
    background: none;
    border: none;
}

.navbar-icon {
    padding-left: 25px;
    padding-right: 5px;
}

.controls {
    width: 250px;
    position: sticky;
    margin-right: 2rem;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.dropdown-custom {
    background: none;
    border-color: black !important;
}

.day {
    border: black 1px;
}

.day-body {
    padding: 0.5rem;
    border: solid 1px black;
    border-radius: 5px;
    display: grid;
    gap: 7px
}

.choose-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-custom {
    width: 12rem;
}

.all-site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
}

.class-dropdown {
  position: relative;
  display: inline-block;
}

.class-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.class-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.class-dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display:block;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 97%;
}

.add-lesson {
    background: #004d00;
    border: none;
    border-radius: .25rem;
    color: white;
    width: 100%;
    margin-top: 15px;
    padding: 7px;
}

.submit-lesson {
    height: 38px;
    width: 38px;
    background: none;
    border: solid 1px black;
    border-radius: .25rem;
}

.lesson-number {
    display: flex;
    align-items: flex-end;
}

.lesson-number-h {
    margin-bottom: 0;
    min-width: 25px;
}
