@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

:root {
    --dairy-color: #004d00
}

body{
    font-family: 'Montserrat', sans-serif !important;
    background-image: url("../photos/bg1.jpg");
}

.btn-login-custom{
    background-color: var(--dairy-color) !important;
    width: 100%;
}

.btn-custom{
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.hadnt{
    text-align:center;
    padding: .5vw;
}

.card-custom{
    padding: 0.6vw;
}

.change-type{
    text-align:center;
    padding: .5vw;
}

#logo {
    padding: 25px;
}

.icon-custom {
    padding-right: 12px;
}

.page-flex {
    display: flex;
    flex-direction: row;
}

.page-flex-element {
    width: 50%;
    height: 100vh;
}

#card-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
