body{
    background-image: url("../photos/bg1.jpg");
}

.btn-login-custom{
    background-color:#004d00 !important;
    width: 100%;
}

.btn-custom{
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card{
    float: right;
    right: 10vw;
    top: 10vw;
}

.hadnt{
    text-align:center;
    padding: .5vw;
}

.card-custom{
    padding: 0.6vw;
}

.change-type{
    text-align:center;
    padding: .5vw;
}
