.controls {
    position: fixed;
    width: calc(var(--nav-width) - 40px);
    background-color: white;
    min-height: 100vh;
}

.shadow-place {
    -webkit-box-shadow: -100px 11px 36px -100px rgba(34, 60, 80, 0.2) inset;
-moz-box-shadow: -100px 11px 36px -100px rgba(34, 60, 80, 0.2) inset;
box-shadow: -100px 11px 36px -100px rgba(34, 60, 80, 0.2) inset;
}

.btn:focus {
    box-shadow: none !important;
}

.navbar-button {
    background: none;
    border: none;
}

.navbar-icon {
    padding-left: 25px;
    padding-right: 10px;
}