@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

:root {
    --dairy-color: #004d00
}

body{
    font-family: 'Montserrat', sans-serif !important;
    background-image: url("../photos/bg1.jpg");
}

.btn-login-custom{
    background-color: var(--dairy-color) !important;
    width: 100%;
}

.btn-custom{
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.had{
    text-align:center;
    padding: .5vw;
}

.change-type{
    text-align:center;
    padding: .5vw;
}

#logo {
    padding: 25px;
}

.icon-custom {
    padding-right: 12px;
}

.page-flex {
    display: flex;
    flex-direction: row;
}

.page-flex-element {
    width: 50%;
    height: 100vh;
}

#card-div {
    display: flex;
    align-items: center;
    justify-content: center;
}


.emailText,
.passText,
.subPassText{
	display: block;
	font-weight: 300;
	font-style: italic;
	padding: 5px;
}
form.valid .emailText,
form.valid .passText,
form.valid .subPassText{
	color: #00ff00;
}
form.invalid .emailText,
form.invalid .passText,
form.invalid .subPassText{
	color: #f00;
}
form.valid::before,
form.invalid::before{
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	top: 36px;
	right: 5px;
	z-index: 100;
}
form.valid::before{
	background: url(../photos/check.svg)no-repeat center /cover;
}
form.invalid::before{
	background: url(../photos/error.png)no-repeat center /cover;
}

label {
    padding-bottom: 5px;
}