@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

:root {
    --dairy-color: #004d00;
    --nav-width: 290px;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

.all-site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.content-wrapper {
    width: calc(100vw - var(--nav-width));
    margin-top: 2rem;
}

.page {
    display: flex;
    flex-direction: row;
}

.icon-custom {
    padding-right: 15px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.allign-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.grid {
    display: grid;
    gap: 1rem;
}

.column-5 {
    grid-template-columns: repeat(5, 1fr);
}

.space-between {
    justify-content: space-between;
}

.round-border {
    border: 1px solid var(--dairy-color);
    border-radius: 10px;
}

.p-10 {
    padding: 10px;
}

.p-5 {
    padding: 5px !important;
}

.diary-btn {
    background: var(--dairy-color);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 7px;
}

.eye {
    position: absolute;
    float: right;
    margin-left: 90%;
    margin-top: 18px;
}

.pointer {
    cursor: pointer;
}

.sticky {
    position: fixed;
    background-color: white;
}