<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script type="text/javascript" src="{{ url_for('static', path='js/helpers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/login.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/login.css') }}">
    {% include 'components/bootstrap.html' %}
</head>
<body>
<img id="s1mple" style="display: none" src="{{ url_for('static', path='photos/s1mple.jpg') }}">
<div class="page-flex">
    <div class="page-flex-element" id="left-box">
        <img id="logo" src="{{ url_for('static', path='photos/dairy.png') }}">
    </div>
    <div class="page-flex-element" id="card-div">
        <div class="card shadow-lg" style="width: 30rem;">
            <div class="card-body">
                <p class="text-center fs-3 fw-bolder">Login ({{ usertype }})</p>
            </div>
            <div class="card-custom">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    <label for="email"><i class="bi bi-envelope icon-custom"></i>Email address</label>
                </div>
                <div class="form-floating mb-3 flex-row">
                    <input type="password" class="form-control pass_input" id="password" placeholder="password">
                    <div class="eye" style="margin-top: 18px" onclick="hideShow()">
                        <i class="eye-btn bi bi-eye-slash"></i>
                    </div>
                    <label for="password"><i class="bi bi-key icon-custom"></i>Password</label>
                </div>
                <div class="form-check" style="margin-bottom: 0.75rem">
                    <input class="form-check-input remember-me" type="checkbox" value="" id="remember_me">
                    <label class="form-check-label" for="remember_me">
                        Remember me
                    </label>
                </div>
                <div class="btn-custom">
                    <button onclick="login()" type="button" class="btn btn-login-custom text-light">Login</button>
                </div>
            </div>
            {% if usertype != 'admin' %}
            <div class="hadnt" id="footer">
                <a class="link text-decoration-none" href="/{{usertype}}/register">I don't have an
                    account</a>
            </div>
            {% endif %}
            <div class="change-type">
                <a href="/">Choose user type</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
