<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{{ url_for('static', path='js/helpers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/auth.js') }}"></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/register.css') }}">
    {% include 'components/bootstrap.html' %}
</head>
<body>
<div class="page-flex">
    <div class="page-flex-element">
        <img id="logo" src="{{ url_for('static', path='photos/dairy.png') }}">
    </div>
    <div class="page-flex-element" id="card-div">
    <div class="card shadow-lg" style="width: 30rem;">
        <div class="card-body">
            <p class="text-center fs-3 fw-bolder">Register ({{ usertype }})</p>
            <div class="card-custom">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    <label for="email"><i class="bi bi-envelope icon-custom"></i>Email address</label>
                </div>
                <div class="form-floating mb-3 flex-row">
                    <input type="password" class="pass_input form-control" id="password" placeholder="password">
                    <div class="eye" onclick="hideShow()">
                        <i class="eye-btn bi bi-eye-slash"></i>
                    </div>
                    <label for="password"><i class="bi bi-key icon-custom"></i>Password</label>
                </div>
                <div class="form-floating mb-3 flex-row">
                    <input type="password" class="pass_input form-control" id="repeatpassword" placeholder="password">
                    <div class="eye" onclick="hideShow()">
                        <i class="eye-btn bi bi-eye-slash"></i>
                    </div>
                    <label for="repeatpassword"><i class="bi bi-key icon-custom"></i>Repeat password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="secretkey" placeholder="example">
                    <label for="secretkey"><i class="bi bi-link icon-custom"></i>Enter secretkey</label>
                </div>
                <div class="btn-custom">
                    <button onclick="submit()" type="button" class="btn btn-login-custom text-light">Register</button>
                </div>
            </div>
                <div class="had">
                    <a class="link text-decoration-none" href="/{{usertype}}/login">I already have an account</a>
                </div>
                <div class="change-type">
                    <a href="/">Choose user type</a>
                </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
