<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href='/style/register.css'>
</head>
<body>
<div class="card shadow-lg" style="width: 40rem;">
    <div class="card-body">
        <p class="text-center fs-3 fw-bolder">Registration</p>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="Ivan">
            <label for="name">First name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="surname" placeholder="Ivanov">
            <label for="Surname">Surname</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="password">
            <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="repeatpassword" placeholder="password">
            <label for="repeatpassword">Repeat password</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="male" value="male">
            <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="female" value="female">
            <label class="form-check-label" for="female">Female</label>
        </div>
        <div class="btn-custom">
            <button onclick="submit()" type="button" class="btn btn-login-custom text-light">Register</button>
        </div>
    </div>
</div>
<div class="had">
    <a class="link text-decoration-none" href="/login">I already have an account</a>
</div>
</body>
</html>
