<div class="content-wrapper">
    <h1>Homework</h1>
    <br>
    <div class="grid column-8">
        {% for group in groups %}
            <div id="hw-btn-{{group.id}}" onclick="load_hw('{{group.id}}', '{{group.group_id}}')" style="gap: 0.2rem" class="justify-center flex-row pointer white border-radius p-10">
                <p class="gray">{{group.name}}</p>
                <i class="bi bi-dot"></i>
                <p>{{group.subject}}</p>
            </div>
        {% endfor %}
    </div>
    <br>
    <button onclick="openHwModal('add')" class="diary-btn">
        <i class="bi bi-pencil-square icon-custom"></i>
        Add task
    </button>
    <br>
    <br>
    <div id="secondary-content" class="grid grid-gap-1"></div>
</div>
<div id="hw-container" class="none flex-row align-center justify-center" style="z-index: 10">
    <div class="white border-radius grid grid-gap-1 p-20" style="min-width: 30%">
        <div class="flex-row space-between">
            <div class="flex-row">
                <h3 id="hw-type"></h3>
                <h3>homework</h3>
            </div>
            <i class="bi bi-x-lg" onclick="closeHwModal()"></i>
        </div>
        <div class="flex-row">
            <label for="group"><i class="bi bi-people icon-custom"></i>Group:</label>
            <div id="group-name"></div>
        </div>
        <div id="dates-flex" class="grid grid-gap-quarter column-3">
            <div class="flex-row allign-center">
                <i class="bi bi-calendar-week" style="padding-right: 3px"></i>Date: 
            </div>
            
            {% for date in dates %}
                <div id="date-{{date}}" onclick="document.getElementById('date-{{date}}').classList.toggle('selected-date')" class="pointer white border-radius p-5 flex-row align-center">
                    <p>{{date}}</p>
                </div>
            {% endfor %}
        </div>
        <label for="homework"><i class="bi bi-pen icon-custom"></i>Homework:</label>
        <textarea type="text" id="homework"></textarea>
        <label for="homework"><i class="bi bi-clock icon-custom"></i>Execution time (min.):</label>
        <input type="text" id="exec_time">
        <button onclick="sendHomework()" class="diary-btn">Send</button>
    </div>
</div>