<div class="content-wrapper">
    <div class="card shadow-lg round-border" style="width: 30rem;">
        <div class="card-body">
            <p class="text-center fs-3 fw-bolder">Profile info</p>
        </div>
        <div class="card-custom p-10">
            <h5><i class="bi bi-person icon-custom"></i><b>Name:</b> {{info.name}}</h5>
            <h5><i class="bi bi-person icon-custom"></i><b>Surname:</b> {{info.surname}}</h5>
            <h5><i class="bi bi-envelope-check icon-custom"></i><b>Email:</b> {{info.email}}</h5>
            <h5><i class="bi bi-house icon-custom"></i><b>School:</b> {{info.school}}</h5>
        </div>
    </div>
</div>