<div class="content-grid content-wrapper">
    <div class="content-element">
        <h1>Add group</h1>
        <br>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="groupname" placeholder="Name">
            <label for="groupname"><i class="bi bi-person icon-custom"></i>Group name</label>
        </div>
        <button class="btn btn-login-custom text-light" onclick="addGroup()">Add group</button>
        <br>
        <br>
        <br>
        <h1>Level up all classes</h1>
        <button class="btn btn-login-custom text-light" onclick="upgradeGroups()">UPGRADE</button>
    </div>
    <div class="content-element">
        <h1>Added groups</h1>
        <table class="table groups">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Number of students</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
            <tr id="{{group.id}}-row">
                <th scope="row">{{ group.id }}</th>
                <td id="{{group.id}}-name">{{ group.name }}</td>
                <td>{{ group.student_count }}</td>
                <td><i style="color: red; cursor: pointer" onclick="deleteFromDB('{{ group.id }}', 'group')" class="bi bi-trash3"></i></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
