<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Key</title>
    {% include 'components/bootstrap.html' %}
    <link rel="stylesheet" href="{{ url_for('static', path='styles/admin.css') }}">
    <script type="text/javascript" src="{{ url_for('static', path='js/adminpanel.js') }}"></script>
</head>
<body>
<div class="page">
    <div class="controls">{% include 'admin/navbar.html' %}</div>
    <div class="page-element ">
        <h1>Add key</h1>
        <br>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="Name">
            <label for="name"><i class="bi bi-person"></i>Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="surname" placeholder="Surname">
            <label for="surname"><i class="bi bi-person"></i>Surname</label>
        </div>
        {% for name in groups %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="group"
                   id="{{ name }}-radio" value="{{ name }}">
            <label class="form-check-label" for="{{ name }}-radio">{{ name }}</label>
        </div>
        <br>
        {% endfor %}
        <button class="btn btn-login-custom text-light" onclick="addKey()">Add key</button>
    </div>
    <div class="page-element">
        <h1>Available keys</h1>
        <table class="table users-commits">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Key</th>
                <th scope="col">Surname</th>
                <th scope="col">Name</th>
                <th scope="col">Group</th>
            </tr>
            </thead>
            <tbody>
            {% for key in keys %}
            <tr>
                <th scope="row">{{ key.id }}</th>
                <td>{{ key.value }}</td>
                <td>{{ key.surname }}</td>
                <td>{{ key.name }}</td>
                <td>{{ key.group }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


</body>
</html>
