<div class="change">
    <div class="center-form">
        <form style="width: 50%">
            <h1>Change password</h1>
            <br>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="Old_pass" placeholder="password">
                <label for="Old_pass"><i class="bi bi-key icon-custom"></i>Old password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="New_pass" placeholder="password">
                <label for="New_pass"><i class="bi bi-key icon-custom"></i>New password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="Repeat_new_pass" placeholder="password">
                <label for="Repeat_new_pass"><i class="bi bi-key icon-custom"></i>Repeat new password</label>
            </div>
            <button class="btn btn-login-custom text-light" onclick="changePassword()">Submit</button>
        </form>
    </div>
</div>
