<div class="change">
    <div class="center-form">
        <form style="width: 50%">
            <h1>Change email</h1>
            <br>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Old_email" placeholder="email">
                <label for="Old_email">Old email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="New_email" placeholder="email">
                <label for="New_email">New email</label>
            </div>
            <button class="btn btn-login-custom text-light" onclick="changeEmail()">Submit</button>
        </form>
    </div>
</div>
