<div class="choose-class">
    <div class="lesson-number"><h3 class="lesson-number-h">{{ lesson_i }}</h3></div>
    <div class="dropdown">
        <a class="btn dropdown-toggle dropdown-custom" href="#" role="button"
           id="lesson-{{ day_i }}-{{ lesson_i }}"
           data-bs-toggle="dropdown" aria-expanded="false">
        </a>
        <ul class="dropdown-menu subjects-dropdown" aria-labelledby="dropdownMenuLink">
            {% for class in classes %}
            <li><a class="dropdown-item"
                   onclick="setValue('lesson-{{ day_i }}-{{ lesson_i }}',
                                                    '{{ class.subject }}',
                                                    '{{ class.id }}')">{{
                class.subject }}</a></li>
            {% endfor %}
        </ul>
        <p style="display: none" id="lesson-{{ day_i }}-{{ lesson_i }}_id"></p>
    </div>
    <button onclick="addLessonToDB()" class="submit-lesson"><i class="bi bi-check2"></i></button>
</div>
<button onclick="addLesson('{{ day_i }}')" class="add-lesson">Add lesson</button>
