<div class="content-grid content-wrapper">
    <div class="content-element ">
        <h1>Export students' keys</h1>
        <br>
        {% if keys_for_export|length > 0 %}
        {% for group in keys_for_export %}
        <div class="for-export">
            <div class="form-floating mb-3 export-btn">
                <button class="download" id="{{ group }}" onclick="downloadGroup('{{ group }}')">
                    <i class="bi bi-cloud-arrow-down icon-custom"></i>{{ group }}
                </button>
                <br>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h3>No keys available for export</h3>
        {% endif %}
    </div>
</div>
