<div class="content-grid">
    <div class="content-element ">
        <h1>Export keys</h1>
        <br>
        {% for group in keys_for_export %}
        <div class="for-export">
            <div class="form-floating mb-3 export-btn">
                <button class="download" id="{{ group }}" onclick="downloadGroup('{{ group }}')">
                    <i class="bi bi-cloud-arrow-down icon-custom"></i>{{ group }}
                </button>
                <br>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
