<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export keys</title>
    <script type="text/javascript" src="{{ url_for('static', path='js/adminpanel.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/admin.css') }}">
    {% include 'components/bootstrap.html' %}
</head>
<body>
    <div class="controls">{% include 'admin/navbar.html' %}</div>
        <div class="page-element ">
            <h1>Export keys</h1>
            <br>
            {% for name in keys %}
                <label class="label" for="{{ name }}">{{ name }}</label>
                <button class="btn btn-login-custom text-light" id="{{ name }}"
                    onclick="download('{{ name }}')">export</button>
                <br>
            {% endfor %}
        </div>
</body>
</html>