<div class="flex-shrink-0 p-3 bg-white">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <img width="30px" height="30px" src="{{ url_for('static', path='photos/dairy.png') }}">
        <span style="padding-left: 15px" class="fs-5 fw-semibold">Admin Panel</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="false">
                Groups
            </button>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><button class="navbar-button" onclick="loadPage('add_group')">Add</button></li>
                    <li><a href="#" class="link-dark rounded">Edit</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                Student's keys
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><button class="navbar-button" onclick="loadPage('add_student_key')">Add</button></li>
                    <li><button class="navbar-button" onclick="loadPage('export_student_keys')">Export</button></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#teachers-collapse" aria-expanded="false">
                Teacher's keys
            </button>
            <div class="collapse" id="teachers-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><button class="navbar-button" onclick="loadPage('add_teacher_key')">Add</button></li>
                    <li><button class="navbar-button" onclick="loadPage('export_teacher_keys')">Export</button></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#subjects-collapse" aria-expanded="false">
                Subjects
            </button>
            <div class="collapse" id="subjects-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><button class="navbar-button" onclick="loadPage('add_subject')">Add</button></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#school-collapse" aria-expanded="false">
                School
            </button>
            <div class="collapse" id="school-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><button class="navbar-button" onclick="loadPage('school')">Manage</button></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="false">
                Account
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><button class="navbar-button" onclick="loadPage('change_password')">Change password</button></li>
                    <li><button class="navbar-button" onclick="logout()">Log out</button></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
