<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <script type="text/javascript" src="{{ url_for('static', path='js/adminpanel.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1>Add key</h1>
<h3>Name</h3>
<input id="name" type="text">
<h3>Surname</h3>
<input id="surname" type="text">
<h3>Group</h3>
<input id="group" type="text">
<h3>School id</h3>
<input id="schoolid" type="text">
<button onclick="addKey()">add key</button>
<h1>Add group</h1>
<h3>Group name</h3>
<input id="groupname" type="text">
<button onclick="addGroup()">add group</button>
<h1>All groups</h1>
{% for name in groups %}
<label for="{{ name }}">{{ name }}</label>
<button id="{{ name }}" onclick="download('{{ name }}')">export</button>
<br>
{% endfor %}
<br>
<a href="/login">logout</a>
</body>
</html>
