<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <script type="text/javascript" src="{{ url_for('static', path='js/adminpanel.js') }}"></script>
<!--    <link rel="stylesheet" href="{{ url_for('static', path='styles/admin/panel.css') }}">-->
<!--    {% include 'components/bootstrap.html' %}-->
</head>
    <body>
<!--        <div class="card shadow-lg" style="width: 30rem;">-->
<!--            <div class="card-body">-->
<!--                <p class="text-center fs-3 fw-bolder">Add Key</p>-->
<!--            </div>-->
<!--            <div class="card-custom">-->
<!--                <div class="form-floating mb-3">-->
<!--                    <input type="text" class="form-control" id="name">-->
<!--                    <label for="name">Name</label>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="text" class="form-control" id="surname">-->
<!--                    <label for="surname">Surname</label>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="text" class="form-control" id="schoolid">-->
<!--                    <label for="schoolid">School id</label>-->
<!--                </div>-->
<!--                <div class="btn">-->
<!--                    <button onclick="addKey()" type="button" class="btn btn-login-custom text-light">Add Key</button>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <p class="text-center fs-3 fw-bolder">Add Group</p>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="text" class="form-control" id="groupname">-->
<!--                    <label for="groupname"></label>-->
<!--                </div>-->
<!--                <div class="btn">-->
<!--                    <button onclick="addGroup()" type="button"-->
<!--                            class="btn btn-login-custom text-light">Add Group</button>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <p class="text-center fs-3 fw-bolder">All groups</p>-->
<!--                </div>-->
<!--                <div>-->
<!--                    {% for name in groups %}-->
<!--                    <label for="{{ name }}">{{ name }}</label>-->
<!--                    <button id="{{ name }}" type="button" class="btn btn-login-custom text-light"-->
<!--                            onclick="download('{{ name }}')">export</button>-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<h1>Add key</h1>
<h3>Name</h3>
<input id="name" type="text">
<h3>Surname</h3>
<input id="surname" type="text">
<h3>Group</h3>
{% for name in create_groups %}
<input type="radio" name="group" id="{{ name }}-radio" value="{{ name }}">
<label for="{{ name }}-radio">{{ name }}</label>
<br>
{% endfor %}
<button onclick="addKey()">add key</button>
<h1>Add group</h1>
<h3>Group name</h3>
<input id="groupname" type="text">
<button onclick="addGroup()">add group</button>
<h1>All groups</h1>
{% for name in groups %}
<label for="{{ name }}">{{ name }}</label>
<button id="{{ name }}" onclick="download('{{ name }}')">export</button>
<br>
{% endfor %}
<br>
<a class='logout' href="admin/login">logout</a>
    </body>
</html>
