<div class="content-grid" id="classes-manager">
    <div class="content-element" id="classes">
        {% if availability == False %}
        <h1>School №{{ number}} is not available</h1>
        <br>
        <div class="form-floating mb-3">

            <input type="text" class="form-control" id="city" placeholder="Name">
            <label for="city"><i class="bi bi-geo-alt icon-custom"></i>School city</label>
        </div>
        <button class="btn btn-login-custom text-light" onclick="addSchool()">Add school</button>
        {% elif availability == True %}
        <h1>Manage school №{{ number}}</h1>
        <br>
        <div class="dropdowns">
            <div class="dropdown">
                <a class="btn dropdown-toggle dropdown-custom" href="#" role="button" id="group"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Choose group
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for group in groups %}
                    <li><a class="dropdown-item" onclick="setValue('group', '{{ group.name }}', '{{group.id}}')" >{{ group.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown">
                <a class="btn dropdown-toggle dropdown-custom" href="#" role="button" id="subject"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Choose subject
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for subject in subjects %}
                    <li><a class="dropdown-item" onclick="setValue('subject', '{{ subject.name }}', '{{subject.id}}')" >{{ subject.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown">
                <a class="btn dropdown-toggle dropdown-custom" href="#" role="button" id="teacher"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Choose teacher
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for teacher in teachers %}
                    <li><a class="dropdown-item" onclick="setValue('teacher', '{{ teacher.surname }} {{teacher.name}}', '{{teacher.id}}')" >{{teacher.surname}} {{ teacher.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <button class="btn btn-login-custom text-light" onclick="addClass()">Add class</button>
        {% else %}
        <h1>Error</h1>
        {% endif %}
    </div>
</div>
<p style="display: none" class="info" id="group_id"></p>
<p style="display: none" class="info" id="teacher_id"></p>
<p style="display: none" class="info" id="subject_id"></p>
