<div class="content-wrapper">
    <div style="width: 50%" class="center-form">
            <h1>Change password</h1>
            <br>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="Old_pass" placeholder="password">
                <label for="Old_pass"><i class="bi bi-key icon-custom"></i>Old password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="New_pass" placeholder="password">
                <label for="New_pass"><i class="bi bi-key icon-custom"></i>New password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="Repeat_new_pass" placeholder="password">
                <label for="Repeat_new_pass"><i class="bi bi-key icon-custom"></i>Repeat new password</label>
            </div>
            <button style="width: 100%" class="btn diary-btn" onclick="changePassword()">Submit</button>
    </div>
</div>
