<div class="content-wrapper">
    <h1>Marks</h1>
    <br>
    <div class="grid column-2 grid-gap-1">
        {% for subject in marks_data.subjects %}
        <div class="round-border p-10">
            <div class="flex-row space-between">
                <h3>{{subject.name}}</h3>
                {% if subject.final is not none %}
                <h4 class="red">{{subject.final}}</h4>
                {% endif %}
            </div>
            <br>
            {% for season in range(1, 4) %}
            {% if season == marks_data.current_season %}
            <div class="flex-row space-between justify-center">
                {% else %}
                <div class="flex-row space-between justify-center none">
                    {% endif %}
                    <div class="flex-row grid-gap-half">
                        {% for mark in subject.seasons[season].marks %}
                        <p class="mark-list-element p-5">{{mark}}</p>
                        {% endfor %}
                    </div>
                    <p class="mark-list-element p-5 bold"><i class="bi bi-activity"></i>{{subject.seasons[season].avg}}
                    </p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>