<div class="flex-shrink-0 p-3 bg-white">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <img width="30px" height="30px" src="{{ url_for('static', path='photos/dairy.png') }}">
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" onclick="loadPage('student', 'my_dairy')">
                My Dairy
            </button>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                2
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">2.1</a></li>
                    <li><a href="#" class="link-dark rounded">2.2</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#teachers-collapse" aria-expanded="false">
                3
            </button>
            <div class="collapse" id="teachers-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">3.1</a></li>
                    <li><a href="#" class="link-dark rounded">3.2</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#subjects-collapse" aria-expanded="false">
                4
            </button>
            <div class="collapse" id="subjects-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">4.1</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#school-collapse" aria-expanded="false">
                5
            </button>
            <div class="collapse" id="school-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">5.1</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="false">
                Account
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/admin/change_password" class="link-dark rounded"><i
                                class="bi bi-lock navbar-icon"></i>Change password</a></li>
                    <li><button class="navbar-button" onclick="loadPage('student', 'telegram')"><i class="bi bi-telegram navbar-icon"></i>TelegramBot</button></li>
                    <li><button class="navbar-button" onclick="logout()"><i
                    class="bi bi-box-arrow-right icon-custom"></i>Log out</button></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
