<div class="content-wrapper">
    <div class="card shadow-lg round-border" style="width: 30rem;">
        <div class="card-body">
            <p class="text-center fs-3 fw-bolder">Profile info</p>
        </div>
        <div class="card-custom p-5">
            <h5>Name: {{info.name}}</h5>
            <h5>Surname: {{info.surname}}</h5>
            <h5>Email: {{info.email}}</h5>
            <h5>Group: {{info.group}}</h5>
            <h5>School: {{info.school}}</h5>
        </div>
    </div>
</div>